RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/ api.php [QSA,L]
RewriteRule ^recorded/reserve_id/([0-9]+)\.([0-9a-zA-Z]{1,3})$ sendstream.php?reserve_id=$1&trans_id=0&ext=$2 [L,BCTLS]
RewriteRule ^recorded/reserve_id/([0-9]+)$ sendstream.php?reserve_id=$1 [L,BCTLS]
RewriteRule ^recorded/reserve_id/([0-9]+)/(.*)$ sendstream.php?reserve_id=$1&title=$2 [L,BCTLS]
RewriteRule ^recorded/trans_id/([0-9]+)\.([0-9a-zA-Z]{1,3})$ sendstream.php?trans_id=$1&ext=$2 [L,BCTLS]
RewriteRule ^recorded/trans_id/([0-9]+)$ sendstream.php?trans_id=$1 [L,BCTLS]
RewriteRule ^recorded/trans_id/([0-9]+)/(.*)$ sendstream.php?trans_id=$1&title=$2 [L,BCTLS]
RewriteRule ^timeshift/(.*)/([0-9]+)/(.*)$ sendstream.php?recorder=$1&mirakc_timeshift_id=$2&title=$2 [L,BCTLS]
RewriteRule ^timeshift/(.*)/([0-9]+)$ sendstream.php?recorder=$1&mirakc_timeshift_id=$2 [L,BCTLS]
RewriteRule ^timeshift/(.*)/(.*)$ sendstream.php?recorder=$1&title=$2 [L,BCTLS]
RewriteRule ^timeshift/(.*)$ sendstream.php?recorder=$1 [L,BCTLS]
RewriteRule ^timefree/(.*)/([0-9]+)/([0-9]+)/(.*)$ sendstream.php?recorder=$1&starttime=$2&endtime=$3&title=$4 [L,BCTLS]
RewriteRule ^timefree/(.*)/([0-9]+)/([0-9]+)$ sendstream.php?recorder=$1&starttime=$2&endtime=$3 [L,BCTLS]
RewriteRule ^timefree/(.*)/([0-9]+)/(.*)$ sendstream.php?recorder=$1&starttime=$2&title=$3 [L,BCTLS]
RewriteRule ^timefree/(.*)/([0-9]+)$ sendstream.php?recorder=$1&starttime=$2 [L,BCTLS]
RewriteRule ^stream/reserve_id/([0-9a-zA-Z_]+)$ sendstream.php?reseve_id=$1&trans=0 [L,BCTLS]
RewriteRule ^stream/reserve_id/([0-9a-zA-Z_]+)/(.*)$ sendstream.php?reseve_id=$1&title=$2&trans=0 [L,BCTLS]
RewriteRule ^stream/trans_id/([0-9a-zA-Z_]+)$ sendstream.php?trans_id=$1&trans=0 [L,BCTLS]
RewriteRule ^stream/trans_id/([0-9a-zA-Z_]+)/(.*)$ sendstream.php?trans_id=$1&title=$2&trans=0 [L,BCTLS]
RewriteRule ^stream/timeshift/(.*)/([0-9]+)/(.*)$ sendstream.php?recorder=$1&mirakc_timeshift_id=$2&title=$3&trans=0 [L,BCTLS]
RewriteRule ^stream/timeshift/(.*)/([0-9]+)$ sendstream.php?recorder=$1&mirakc_timeshift_id=$2&trans=0 [L,BCTLS]
RewriteRule ^stream/timeshift/(.*)/(.*)$ sendstream.php?recorder=$1&title=$2&trans=0 [L,BCTLS]
RewriteRule ^stream/timeshift/(.*)$ sendstream.php?recorder=$1&trans=0 [L,BCTLS]
RewriteRule ^stream/type/([0-9a-zA-Z]+)/([0-9a-zA-Z_]+)/([0-9a-zA-Z_-]+)$ sendstream.php?type=$1&ch=$2&sid=$3&trans=0 [L,BCTLS]
RewriteRule ^stream/type/([0-9a-zA-Z]+)/([0-9a-zA-Z_]+)/([0-9a-zA-Z_-]+)/(.*)$ sendstream.php?type=$1&ch=$2&sid=$3&title=$4&trans=0 [L,BCTLS]
RewriteRule ^stream([0-9]+)/reserve_id/([0-9a-zA-Z_]+)$ sendstream.php?reserve_id=$2&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/reserve_id/([0-9a-zA-Z_]+)/(.*)$ sendstream.php?reserve_id=$2&title=$3&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/trans_id/([0-9a-zA-Z_]+)$ sendstream.php?trans_id=$2&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/trans_id/([0-9a-zA-Z_]+)/(.*)$ sendstream.php?trans_id=$2&title=$3&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/type/([0-9a-zA-Z]+)/([0-9a-zA-Z_]+)/([0-9a-zA-Z_-]+)$ sendstream.php?type=$2&ch=$3&sid=$4&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/type/([0-9a-zA-Z]+)/([0-9a-zA-Z_]+)/([0-9a-zA-Z_-]+)/(.*)$ sendstream.php?type=$2&ch=$3&sid=$4&title=$5&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timeshift/(.*)/([0-9]+)/(.*)$ sendstream.php?recorder=$2&mirakc_timeshift_id=$3&title=$4&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timeshift/(.*)/([0-9]+)$ sendstream.php?recorder=$2&mirakc_timeshift_id=$3&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timeshift/(.*)/(.*)$ sendstream.php?recorder=$2&title=$3&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timeshift/(.*)$ sendstream.php?recorder=$2&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timefree/(.*)/([0-9]+)/([0-9]+)/(.*)$ sendstream.php?recorder=$2&starttime=$3&endtime=$4&title=$5&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timefree/(.*)/([0-9]+)/([0-9]+)$ sendstream.php?recorder=$2&starttime=$3&endtime=$4&trans=$1 [L,BCTLS]
RewriteRule ^stream([0-9]+)/timefree/([0-9]+)/(.*)$ sendstream.php?recorder=$2&starttime=$3&title=$4&trans=$1 [L,BCTLS]
