<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">

<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/messages_ja.js"></script>

<script type="text/javascript">
<!--
{literal}

function back(){
        event.preventDefault();
	window.open('/maintenance.php?return=initial&initial_step=2', '_self');
}

function command(){
	event.preventDefault();
	if($("#form_command").valid()){
		var cmd_at          = $('#id_cmd_at').val();
		var cmd_atrm        = $('#id_cmd_atrm').val();
		var cmd_sleep       = $('#id_cmd_sleep').val();
		var cmd_timeout     = $('#id_cmd_timeout').val();
		var cmd_curl        = $('#id_cmd_curl').val();
		var cmd_epgdump     = $('#id_cmd_epgdump').val();
		var cmd_ffmpeg      = $('#id_cmd_ffmpeg').val();
		var cmd_tspacketchk = $('#id_cmd_tspacketchk').val();
		$.post('/maintenance/commandSetting.php', {
			cmd_at: cmd_at,
			cmd_atrm: cmd_atrm,
			cmd_sleep: cmd_sleep,
			cmd_timeout: cmd_timeout,
			cmd_curl: cmd_curl,
			cmd_epgdump: cmd_epgdump,
			cmd_ffmpeg: cmd_ffmpeg,
			cmd_tspacketchk: cmd_tspacketchk
		}, function(message){
			if( message.match(/^error/i) ){
				alert( message );
			}else{
				if( $('#id_return').val() == 'initial' ){
					window.open('/maintenance.php?return=initial&initial_step=4', '_self');
				}else{
					alert(message);
				}
			}
		});
	}
}

$(document).ready(function(){
	$("#form_command").validate();
});

{/literal}

-->
</script>


<style type="text/css">
<!--
{literal}

body {padding:4px;margin:0;font-size:10pt;}
a {text-decoration:none;}

.bold {font-weight:bold;}
.small {font-size:75%;}

div.setting { padding: 0px; margin-left: 20px; margin-bottom: 20px;}

form label.error, label.err { color: red; }

{/literal}
-->
</style>
</head>
<body>
<div>
<form id="form_command">
 {if $return == 'initial'}
 <font color="red">使用コマンドの設定と確認をします。</font>
 {/if}
 <input type="hidden" name="return" id="id_return" value="{$return}">
 <fieldset>
  <legend><h2>使用コマンドのパス設定</h3></legend>

  <div class="setting">
   <div class="caption">epgrecが内部的に使用するコマンドのパスを設定します。ほとんどの場合、設定を変える必要はないはずです。</div>
   <table>
    <tr><td><b>at：</b></td><td><input type="text" id="id_cmd_at" name="at" value="{$settings->at}" size="30" class="required" /></td></tr>
    <tr><td><b>atrm：</b></td><td><input type="text" id="id_cmd_atrm" name="atrm" value="{$settings->atrm}" size="30" class="required" /></td></tr>
    <tr><td><b>sleep：</b></td><td><input type="text" id="id_cmd_sleep" name="sleep" value="{$settings->sleep}" size="30" class="required" /></td></tr>
    <tr><td><b>timeout：</b></td><td><input type="text" id="id_cmd_timeout" name="timeout" value="{$settings->timeout}" size="30" class="required" /></td></tr>
    <tr><td><b>curl：</b></td><td><input type="text" id="id_cmd_curl" name="curl" value="{$settings->curl}" size="30" class="required" /></td></tr>
    <tr><td><b>epgdump：</b></td><td><input type="text" id="id_cmd_epgdump" name="epgdump" value="{$settings->epgdump}" size="30" class="required" /></td></tr>
    <tr><td><b>ffmpeg：</b></td><td><input type="text" id="id_cmd_ffmpeg" name="ffmpeg" value="{$settings->ffmpeg}" size="30" {if $settings->use_thumbs == '1'}class="required" {/if}/></td></tr>
    <tr><td><b>tspacketchk：</b></td><td><input type="text" id="id_cmd_tspacketchk" name="tspacketchk" value="{$settings->tspacketchk}" size="30" {if $settings->use_plogs == '1'}class="required" {/if}/></td></tr>
   </table>
  </div>
 </fieldset>

 {if $return == 'initial'}
 <input type="submit" value="戻る" onclick="back()" />
 {/if}
 <input type="submit" value={if $return == 'initial'}"次へ"{else}"設定"{/if} onclick="command()" />
</form>
</div>
</body>
</html>
