<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>番組表表示設定</title>

<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/messages_ja.js"></script>

<script type="text/javascript">
<!--
{literal}
function program(){
	event.preventDefault();
	if($("#form_program").valid()){
		var program_length = $('#id_program_length').val();
		var ch_set_width = $('#id_ch_set_width').val();
		var height_per_hour = $('#id_height_per_hour').val();
		$.post('/maintenance/programSetting.php', {
			program_length: program_length,
			ch_set_width: ch_set_width,
			height_per_hour: height_per_hour
		}, function(message){
			if( message.match(/^error/i) ){
				alert( message );
			}else{
				alert( message );
			}
		});
	}
}

$(document).ready(function(){
	$("#form_program").validate();
});

{/literal}

-->
</script>


<style type="text/css">
<!--
{literal}

body {padding:4px;margin:0;font-size:10pt;}
a {text-decoration:none;}

.bold {font-weight:bold;}
.small {font-size:75%;}

div.setting { padding: 0px; margin-left: 20px; margin-bottom: 20px;}

table#extra_strings th {
	text-align: center;
	white-space:pre;
	background: #BBB;
}
table#extra_strings td {white-space:pre;}
table#extra_strings td.subcmd {background: #DDD;}
{/literal}
-->
</style>
</head>
<body>

<div>
<form id="form_program">
 <input type="hidden" name="return" value="env" />
 <fieldset>
  <legend><h2>番組表表示設定</h2></legend>

以下の設定は実際に利用して様子を見ながら設定した方がいいでしょう。

  <h3>ページに表示する番組表の長さ</h3>
  <div class="setting">
   <div class="caption">1ページに表示する番組表の長さを時間で設定します。標準は8時間分です。</div>
   <input type="text" id="id_program_length" value="{$settings->program_length}" size="2" class="required digits" min="2" max="24" />時間
  </div>

  <h3>1局あたりの幅</h3>
  <div class="setting">
   <div class="caption">番組表の1局当たりの幅をピクセル数で設定します。標準は150ピクセルです。</div>
   <input type="text" id="id_ch_set_width" value="{$settings->ch_set_width}" size="4" class="required digits" min="20" />ピクセル
  </div>

  <h3>1時間あたりの高さ</h3>
  <div class="setting">
   <div class="caption">番組表の1時間あたりの高さをピクセル数で設定します。標準は120ピクセルです。なお、60で割り切れないピクセル数を指定するとFirefoxを除くブラウザでは番組の高さが揃わなくなり見た目が悪くなるかもしれません。これはFirefox以外のブラウザでは実数のピクセルを正しくレンダリングしないためです。</div>
   <input type="text" id="id_height_per_hour" value="{$settings->height_per_hour}" size="4" class="required digits" min="30" />ピクセル
  </div>
 </fieldset>
</form>
<button type="button" onclick="program()">設定</button>
</div>
</body>
</html>
