<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">

<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/messages_ja.js"></script>

<script type="text/javascript">
<!--
{literal}

function database(){
	event.preventDefault();
	if($("#form_mysql").valid()){
		var host     = $('#id_host').val();
		var user     = $('#id_user').val();
		var pass     = $('#id_pass').val();
		var database = $('#id_database').val();
		var prefix   = $('#id_prefix').val();
		$.post('/sub/mysqlSetting.php', { 
			host: host,
			user: user,
			pass: pass,
			database: database,
			prefix: prefix 
		},function(message){
			if( message.match(/^error/i) ){
				alert( message );
			}else{
				if( $('#id_return').val() == 'initial' ){
					window.open('/maintenance.php?return=initial&initial_step=2', '_self');
				}else{
					alert( message );
				}
			}
		});
	}
}

$(document).ready(function(){
	$("#form_mysql").validate();
});

{/literal}

-->
</script>


<style type="text/css">
<!--
{literal}

body {padding:4px;margin:0;font-size:10pt;}
a {text-decoration:none;}

.bold {font-weight:bold;}
.small {font-size:75%;}

div.setting { padding: 0px; margin-left: 20px; margin-bottom: 20px;}

form label.error, label.err { color: red; }

{/literal}
-->
</style>
</head>
<body>
<div>
<form id="form_mysql">
 {if $return == 'initial'}
 <font color="red">データベースの確認とテーブルがない場合、テーブル作成をします。あらかじめデータベースと接続ユーザーを作成してください。</font>
 {/if}
 <input type="hidden" name="return" id="id_return" value="{$return}">
 <fieldset>
  <legend><h2>MySQLデータベース設定</h2></legend>

  <h3>MySQLホスト名</h3>
  <div class="setting">
   <div class="caption">MySQLサーバーのホスト名を入力してください。</div>
   <input type="text" id="id_host" name="db_host" value="{$settings->db_host}" size="15" class="required" />
  </div>

  <h3>MySQL接続ユーザー名</h3>
   <div class="setting">
   <div class="caption">MySQLサーバーの接続に使用するユーザー名を入力してください。</div>
   <input type="text" id="id_user" name="db_user" value="{$settings->db_user}" size="15" class="required" />
  </div>

  <h3>MySQL接続パスワード</h3>
  <div class="setting">
   <div class="caption">MySQLサーバーの接続に使用するパスワードを入力してください。</div>
   <input type="text" id="id_pass" name="db_pass" value="{$settings->db_pass}" size="15" class="required" />
  </div>

  <h3>使用データベース名</h3>
  <div class="setting">
   <div class="caption">使用するデータベース名を設定します。設定するデータベースは接続ユーザーがテーブルの作成等を行う権限を持っている必要があります。</div>
   <input type="text" id="id_database" name="db_name" value="{$settings->db_name}" size="15" class="required" />
  </div>

  <h3>テーブル接頭辞</h3>
  <div class="setting">
   <div class="caption">テーブル名の冒頭に追加する接頭辞です。epgrecの再インストールを旧テーブルを使用せずに行うようなケースを除き、デフォルトのままで構いません。</div>
   <input type="text" id="id_prefix" name="tbl_prefix" value="{$settings->tbl_prefix}" size="15" />
  </div>
 </fieldset>

 <input type="submit" value={if $return == 'initial'}"次へ"{else}"設定"{/if} onclick="database()" />
</form>
</div>
</body>
</html>
